.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .10em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
img#bt{
    width: 60px;
}
li img{
    width: 60px;
}
#nav2 ul li{
    background-color: blue;
    border-radius: 10px;
    list-style: none;
}
.hide{
    display: nones;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

#loader {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader > img {
    width: 180px;
}

#loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}
@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
.card-deck {
    margin-right: 0px;
    margin-left: 0px;
}
#nav img{
    width: 50px;
    margin-top:5px;
    margin-left: 30px;
}
#cont img{
    width: 100px;
    height: 100px;
}
#cont .card{
    border:none; 
}
#pro img{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    border: 1px solid gray;
}
#pro .card{
    border: none;
    box-shadow: 5px 9px 18px 0px rgba(32, 33, 36, 0.28);
}
/*.col-6{
    margin: 10px;
    max-width: 40%;
}
#pro{
    margin-left: 50%;
    transform: translateX(-50%);
}*/
h5{
    color: #de8186;
}
#nav{
    z-index: 1000;
    position: fixed;
    width: 100%;
    top:0px;
    background-color: #292c2f;
    height: 60px;
}
.name{
    color:black;
    text-align: center;
    margin-top: 5px;
    font-family: cursive;
}
#zahinimg{
    margin-top: 80px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    margin-bottom:10px; 
}
.card img{
    height: 200px;
    width: 200px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.about{
width: 30%;
}
.info{
width: 70%;
}














.footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    font: bold 16px sans-serif;
    text-align: left;

    padding: 50px 60px 40px;
    margin-top: 80px;
    overflow: hidden;
}

/* Footer left */

.footer-distributed .footer-left{
    float: left;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0 0 10px;
}

.footer-distributed h3 span{
    color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
    margin-top: 40px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
    float: right;
}

.footer-distributed .footer-right p{
    display: inline-block;
    vertical-align: top;
    margin: 15px 42px 0 0;
    color: #ffffff;
}

/* The contact form */

.footer-distributed form{
    display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color:  #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;

    font: inherit;
    font-size: 14px;
    font-weight: normal;
    color:  #d1d2d2;

    width: 400px;
    padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
    color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
    color:  #5c666b;
    opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
    color:  #5c666b;
}


.footer-distributed form input{
    height: 55px;
    margin-bottom: 15px;
}

.footer-distributed form textarea{
    height: 100px;
    margin-bottom: 20px;
}

.footer-distributed form button{
    border-radius: 3px;
    background-color:  #33383b;
    color: #ffffff;
    border: 0;
    padding: 15px 50px;
    font-weight: bold;
    float: right;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-company-name{
        font-size: 12px;
    }

    .footer-distributed form input,
    .footer-distributed form textarea{
        width: 250px;
    }

    .footer-distributed form button{
        padding: 10px 35px;
    }

}

@media (max-width: 800px) {

    .footer-distributed{
        padding: 30px;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
        float: none;
        max-width: 300px;
        margin: 0 auto;
    }

    .footer-distributed .footer-left{
        margin-bottom: 40px;
    }

    .footer-distributed form{
        margin-top: 30px;
    }

    .footer-distributed form{
        display: block;
    }

    .footer-distributed form button{
        float: none;
    }
}

































#SkillBox {
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    height: auto;
    background-color: #fff;
    //border: 1px solid #cdcdcd;
    border-radius:20px;
    -o-border-radius:20px;
    -webkit-border-radius:20px;
    -ms-border-radius:20px;
    -moz-border-radius:20px;  
}
#SkillBox img {
    width: 200px;
    height: 200px;
    padding: 10px;
}
.SkillBar {
    width: 90%;
    height: 50px;
    position: relative;
    background: rgba(17, 17, 17, .3);
    margin: 20px auto;
}


#Skill-HTML {
    width: 90%;
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    height: 100%;
    position: absolute;
    background-color: #ea8564;
}
@keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 90%}
}



#Skill-RJ {
    animation: rj 4s;
    width: 80%;
    height: 50px;
    position: absolute;
    background-color: #970cc1;
}
@keyframes rj {
    from {
    width: 10px;
}
to {
    width: 80%}
}









#Skill-CSS {
    animation: Animate-CSS 5s;
    -webkit-animation: Animate-CSS 5s;
    -moz-animation: Animate-CSS 5s;
    -o-animation: Animate-CSS 5s;
    width: 90%;
    height: 50px;
    position: absolute;
    background-color: #55a69f;
}
@keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 90%}
}







#Skill-JS {
    animation: Animate-JS 4s;
    -webkit-animation: Animate-JS 4s;
    -moz-animation: Animate-JS 4s;
    -o-animation: Animate-JS 4s;
    width: 80%;
    height: 50px;
    position: absolute;
    background-color: #c44e45;
}
@keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 80%}
}





#Skill-C {
    animation: Animate-C 4s;
    -webkit-animation: Animate-C 4s;
    -moz-animation: Animate-C 4s;
    -o-animation: Animate-C 4s;
    width: 40%;
    height: 50px;
    position: absolute;
    background-color: #970cc1;
}
@keyframes Animate-C {
    from {
    width: 10px;
}
to {
    width: 40%}
}



#Skill-SQL {
    animation: Animate-SQL 4s;
    -webkit-animation: Animate-SQL 4s;
    -moz-animation: Animate-SQL 4s;
    -o-animation: Animate-SQL 4s;
    width: 70%;
    height: 50px;
    position: absolute;
    background-color: #23b1db;
}
@keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 70%}
}







#Skill-db {
    animation: Animate-db 4s;
    -webkit-animation: Animate-db 4s;
    -moz-animation: Animate-db 4s;
    -o-animation: Animate-db 4s;
    width: 70%;
    height: 50px;
    position: absolute;
    background-color: #f8a51e;
}
@keyframes Animate-db {
    from {
    width: 10px;
}
to {
    width: 70%}
}




#Skill-NODE {
    animation: Animate-NODE 4s;
    -webkit-animation: Animate-NODE 4s;
    -moz-animation: Animate-NODE 4s;
    -o-animation: Animate-NODE 4s;
    width: 60%;
    height: 50px;
    position: absolute;
    background-color: #f81e4d;
}
@keyframes Animate-NODE {
    from {
    width: 10px;
}
to {
    width: 60%}
}






#Skill-BL {
    animation: Animate-BL 4s;
    width: 70%;
    height: 50px;
    position: absolute;
    background-color: #b7cd19;
}
@keyframes Animate-BL {
    from {
    width: 10px;
}
to {
    width: 70%}
}





#Skill-photo {
    animation: Animate-photo 3s;
    width: 90%;
    height: 50px;
    position: absolute;
    background-color: #c14343;
}
@keyframes Animate-photo {
    from {
    width: 10px;
}
to {
    width: 90%}
}





#Skill-illust {
    animation: Animate-illust 6s;
    width: 90%;
    height: 50px;
    position: absolute;
    background-color: #7f1ef8;
}
@keyframes Animate-illust {
    from {
    width: 10px;
}
to {
    width: 90%}
}






#Skill-after {
    animation: Animate-after 4s;
    width: 70%;
    height: 50px;
    position: absolute;
    background-color: #3cf81e;
}
@keyframes Animate-after {
    from {
    width: 10px;
}
to {
    width: 70%}
}




#Skill-flash {
    animation: Animate-flash 5s;
    width: 60%;
    height: 50px;
    position: absolute;
    background-color: #1e9af8;
}
@keyframes Animate-flash {
    from {
    width: 10px;
}
to {
    width: 60%}
}
.Skill-Area {
    z-index: 1;
    float: left;
    //position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    text-shadow: none;
    color: #fff;
    //font-family: Lato-Regular, sans-serif;
    font-size: 18px;
}
.PercentText {
    z-index: 3;
    position: relative;
    padding-right: 15px;
    margin-top: 15px;
    float: right;
    text-shadow: none;
    color: #fff;
    //font-family: Lato-Regular, sans-serif;
    font-size: 18px;
}
#navmob{
    display: none;
    position: absolute;
    z-index: 1000;
    bottom: 100px;
    position: fixed;
    top: 10px;
    left:-20px;
  }
#navmob img{
    width:50px;
  }
  .itm img{
    width:50px;
  }
#navmob li{
    list-style:none;
}
@media screen and (max-width: 600px) {
    body{
        margin: 20px;
    }
    footer{
        margin: -20px;
    }
  #navmob{
    display: block;
  }
  #nav{
    display: none;
  }
  .typewriter h1 {
  font-size: 17px;
  color: green;
  font-weight: bold;
}
#nav{
    margin: -20px;
}
.blr{
    filter:blur(8px);
}
.flow{
    overflow: hidden;
    position: fixed;
}
#all{
    text-align: center;
}
#skillBox{
    width: 100%;
    font-size: 5px;
}
.Skill-Area,.PercentText{
    font-size: 15px;
}
#SkillBox img {
    width: 150px;
    height: 150px;
}
.itm{
    transition: 1s;
    float: right;
}
/*#navmob{
    display: none;
    position: fixed;
    top: 10px;
    left:-20px;
}*/
